.gradle/file-system.probe
.gradle/8.8/gc.properties
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/hotswap_agent.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/modules/eventhorizons.main.iml
.idea/modules/eventhorizons.test.iml
build/classes/java/main/io/github/tootertutor/eventhorizons/EventHorizons.class
build/classes/java/main/io/github/tootertutor/eventhorizons/builders/ItemBuilder.class
build/classes/java/main/io/github/tootertutor/eventhorizons/builders/ItemBuilder$1.class
build/classes/java/main/io/github/tootertutor/eventhorizons/builders/ItemDataBuilder.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/CommandBuilder.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/DumpCommand.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/EHCommand.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/GiveCommand.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/LoreCommand.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/MetaCommand.class
build/classes/java/main/io/github/tootertutor/eventhorizons/commands/NameCommand.class
build/classes/java/main/io/github/tootertutor/eventhorizons/events/ItemEventHandler.class
build/classes/java/main/io/github/tootertutor/eventhorizons/handlers/ItemTextHandler.class
build/classes/java/main/io/github/tootertutor/eventhorizons/items/Item.class
build/classes/java/main/io/github/tootertutor/eventhorizons/items/ItemRegistry.class
build/classes/java/main/io/github/tootertutor/eventhorizons/items/tools/AbstractTool.class
build/classes/java/main/io/github/tootertutor/eventhorizons/items/tools/Paxel.class
build/libs/eventhorizons-1.2.jar
build/libs/eventhorizons-2.73.1.jar
build/resources/main/plugin.yml
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
.vscode/settings.json
lib/hamcrest-core-1.3.jar
lib/jcommander-1.82.jar
lib/junit-4.13.2.jar
lib/junit-platform-console-standalone-1.12.0-RC1.jar
lib/slf4j-api-2.1.0-alpha1.jar
lib/testng-7.10.2.jar
.blackboxrules
start_dev_server.sh
TODO
